# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dependencies
lib/

# Docs
docs/

# Dotenv file
.env
.env.local

# Coverage
lcov.info
coverage/

# Node (if using npm for any tooling)
node_modules/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Remix artifacts (legacy)
**/artifacts/
deps/
states/
*.dbg.json
*.tsbuildinfo